<ion-header color="secondary">
  <ion-toolbar>
    <ion-title class="titulo">
      <h2>MEYD</h2>
   <ion-button color="success" class="btn" size="small" href="http://localhost:8100/contacto">Contacto</ion-button>
   <ion-button color="secondary" class="btn" size="small" href="http://localhost:8100/quienes-somos">¿Quienes somos?</ion-button>
   <ion-button color="tertiary" class="btn" size="small" href="http://localhost:8100/">Inicio</ion-button>
   </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<h1>Un Cuarto Más</h1>
<h3>De   acuerdo   con la   Encuesta   Intercensal   2015   del   Instituto   Nacional   de Estadística y Geografía (INEGI),Jiutepec tiene cerca del 21% de los hogarescon hacinamiento, es decir,que sólo cuentan con uno o doscuartospor hogarpara habitar,espacios en los queviven más de cincopersonas; circunstancia que ha sido  calificada  como pobreza,  según  el  Consejo  Nacional  de  Evaluación  de  la Política de Desarrollo Social (CONEVAL), derivado de lafalta de espacios en la vivienda.</h3>
<ion-img src="../../assets/pobreza.jfif" class="img2"></ion-img>
</ion-content>
