<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <form #formLogin="ngForm" (ngSubmit) = "validaLogin(formLogin)">
      <ion-img src="../../assets/h.png" class="per"></ion-img>
      <ion-list>
        <ion-item>
          <ion-label>Correo: </ion-label>
          <ion-input type="email" name="email" required [(ngModel)]= "usuario.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contraseña: </ion-label>
          <ion-input type="password" name="password" required [(ngModel)]= "usuario.password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button color="tertiary" type="submit" (click) = alertaConfirmacion() >Enviar</ion-button>
    </form>
</ion-content>