<ion-header color="secondary">
    <ion-toolbar>
      <ion-title class="titulo">
        <h2>MEYD</h2>
     <ion-button color="success" class="btn" size="small" href="http://localhost:8100/contacto">Contacto</ion-button>
     <ion-button color="secondary" class="btn" size="small" href="http://localhost:8100/quienes-somos">¿Quienes somos?</ion-button>
     <ion-button color="tertiary" class="btn" size="small" href="http://localhost:8100/">Inicio</ion-button>
     </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="body">
<h1>Contacto</h1>
<br>
<h3>
  Hay diferentes maneras en las que se pueden contactar con nostros.

  Redes sociales
  <div class="imagen"><ion-img class="img" src="../../assets/logo.PNG" class="img"></ion-img></div>
</h3>
</ion-content>
